@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-orange-500 text-white py-3 px-4 border border-orange-500 font-semibold rounded-sm hover:text-orange-500 hover:bg-orange-100 active:bg-orange-700 active:border-orange-700 active:text-white lg:text-xl;
  }

  .hide-scroll::-webkit-scrollbar {
    display: none;
  }

  .hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
